/*    TYPOGRAPHY   */
/*—————————————————*/
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
}

body {
  font-family: "ff-tisa-web-pro", Georgia, serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

div.skill {
  background: #fcfcfc;
  border-radius: 8px;
}

span.skillkey {
  font-weight: bold;
  font-size: 1.3em;
}
span.level {
  font-size: 1.1em;
}