* {
  box-sizing: border-box;
}

body {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  margin-top: 60px;
}

/*      NAVBAR     */
/*—————————————————*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: rgba(255,255,255,0.9);
}

nav ul {
  /*float: right;*/
  margin-right: 50px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "ff-meta-web-pro";
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
  font-weight: 700;
  font-color: #00b3b8;
}
div.professional,
div.education,
div.skill {
  border-bottom: 1px dotted #cccccc;
}

div.skill img.software-icon {
  max-width: 75px;
  margin-right: 20px;
}

/*    TYPOGRAPHY   */
/*—————————————————*/
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
}
span.skillkey {
  font-weight: bold;
  font-size: 1.3em;
}
span.level {
  font-size: 1.1em;
}

span.normalize {
  font-weight: normal;
  font-size: .9em;
}
