/*    TYPOGRAPHY   */
/*—————————————————*/
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
}

body {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  margin-top: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: rgba(255,255,255,0.9);
}

nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "ff-meta-web-pro";
  margin: 0 10px;
}

div.skill {
  padding: 10px 0;
  border-bottom: 1px dotted #cccccc;
}

span.skillkey {
  font-weight: bold;
  font-size: 1.3em;
}
span.level {
  font-size: 1.1em;
}