/*   GLOBAL STYLES  */
/*——————————————————*/
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 1.3em;
}

/*      NAVBAR     */
/*—————————————————*/
nav#main-nav-drop {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: #5f5c58;
  background: rgba(95,92,88,0.99);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

nav#main-nav-drop.active {
  top: 0;
}

nav#nav-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

a.menu-icon {
  float: right;
  margin-right: 100px;
  display: block;
  width: 40px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
a.menu-icon:before,
a.menu-icon:after,
.menu-icon__text {
  background: #00B3B7;
  color: #00B3B7;
  content: '';
  display: block;
  height: 4px;
  margin: 6px 0;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.menu-icon__text {
  text-indent: -9999px;
}
.display_text {
  position: absolute;
  top: 3px;
  padding-left: 50px;
  text-decoration: none;
  color: #00B3B7;
  font-family: "ff-tisa-web-pro";
  font-size: 1.1em;
  font-style: normal;
}

a.menu-icon.indent.active .menu-icon__text {
  opacity: 0;
}

a.menu-icon.indent.active:before {
  -webkit-transform: rotate(45deg) translate3d(5px,10px,0);
  -moz-transform: rotate(45deg) translate3d(5px,10px,0);
  -o-transform: rotate(45deg) translate3d(5px,10px,0);
  -ms-transform: rotate(45deg) translate3d(5px,10px,0);
  transform: rotate(45deg) translate3d(5px,10px,0);
}
a.menu-icon.indent.active:after {
  -webkit-transform: rotate(-45deg) translate3d(5px,-10px,0);
  -moz-transform: rotate(-45deg) translate3d(5px,-10px,0);
  -o-transform: rotate(-45deg) translate3d(5px,-10px,0);
  -ms-transform: rotate(-45deg) translate3d(5px,-10px,0);
  transform: rotate(-45deg) translate3d(5px,-10px,0);
}
.indent {
  margin: 13px auto;
}

nav ul {
  margin-right: 50px;
}

nav ul li {
  list-style: none;
  display: block;
  text-align: center;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "ff-meta-web-pro";
  margin: 0 10px;
  font-size: 2.5em;
  font-weight: normal;
  font-weight: 400;
  color: #ffffff;
  color: white;
  color: rgba(255,255,255,0.9);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
nav ul li a:hover {
  font-weight: bold;
  font-weight: 700;
}

/*  HOME PAGE   */
/*—————————————————*/
div#home-container {
  background: url(../images/home-bg1.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
div#home-container div.greeting {
  height: auto;
  padding: 40px;
  position: relative;
  top: 25%;
}

div.greeting h1,
div.greeting h2 {
  font-weight: normal;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  position: relative;
}

div#home-container h1#thatsme:after {
  position: absolute;
  content: '';
  top: -30px;
  right: -60px;
  width: 64px;
  height: 64px;
  background: url(../images/thatsme.png);
}
div.contact-footer ul.contact-info { margin-top: 30px; }
div.contact-footer ul li a { border-bottom: none; }
div.contact-footer ul li a span.contact-icon { width: 32px; }
div.greeting p a.btn {
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  font-family: "ff-meta-web-pro", sans-serif;
  padding: 5px 20px 8px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
div.greeting p a.btn:hover {
  background: white;
  color: #00B3B7;
  border-color: #00B3B7;
}

/*    RESUME       */
/*—————————————————*/
div.professional,
div.education,
div.skill {
  border-bottom: 1px dotted #cccccc;
}

div.skill img.software-icon {
  max-width: 75px;
  margin-right: 20px;
}
div.contact {
  text-align: left;
}
ul.contact-info { margin: 60px 0 20px; padding: 0; }
ul.contact-info li { margin: 0 10px; list-style: none; display: inline-block; }
ul.contact-info li a { text-decoration: none; border-bottom: 1px dotted; font-family: "ff-meta-web-pro"; font-weight: 700; color: #00B3B7;}

/*    TYPOGRAPHY   */
/*—————————————————*/
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
  /*font-weight: normal;*/
  /*font-weight: 400;*/
}
h1 { color: #00B3B7; margin-bottom: 0; }
h1.work-header {
  position: relative;
  padding-left: 60px;
}
h1.work-header:before { 
  position: absolute;
  top: 10px;
  content: "";
  width: 37px;
  height: 35px;
  background: url("../images/brief-case.svg") repeat scroll 0% 0% transparent;
  left: 10px;

}
h1.edu-header {
  position: relative;
  padding-left: 60px;
}
h1.edu-header:before {
  position: absolute;
  left: 10px;
  top: 15px;
  content: '';
  width: 48px;
  height: 30px;
  background: url(../images/grad-cap.svg);
}

h2 a {
  text-decoration: none;
  border-bottom: 2px dotted #00b3b8;
}
h2 small {
  font-style: italic;
}

span.skillkey {
  font-weight: bold;
  font-size: 1.3em;
}
span.level {
  font-size: 1.1em;
}

span.normalize {
  font-weight: normal;
  font-size: .9em;
}

span.job-title {
  font-style: italic;
  font-weight: 700;
}

span.work-icon {
  width: 48px;
  display: block;
}

span.bottom-border { position: relative; display: block; }
span.bottom-border:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  background: url(../images/bottom-border.svg) repeat-x;
}

span.contact-icon {
  width: 16px;
  display: inline-block;
  position: relative;
  top: -3px;
  left: -3px;
}







