* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 1.3em;
}

/*      NAVBAR     */
/*—————————————————*/
nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: #5f5c58;
  background: rgba(95,92,88,0.99);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

nav.active {
  top: 0;
}

a#menu-icon {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

nav ul {
  /*float: right;*/
  margin-right: 50px;
}

nav ul li {
  list-style: none;
  display: block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "ff-meta-web-pro";
  margin: 0 10px;
  font-size: 2.5em;
  font-weight: bold;
  font-weight: 700;
  color: #ffffff;
  color: white;
  color: rgba(255,255,255,0.9);
}
div.professional,
div.education,
div.skill {
  border-bottom: 1px dotted #cccccc;
}

div.skill img.software-icon {
  max-width: 75px;
  margin-right: 20px;
}

/*    TYPOGRAPHY   */
/*—————————————————*/
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
  /*font-weight: normal;*/
  /*font-weight: 400;*/
}
h1 { color: #00B3B7; }
h1.work-header { 
  position: relative;
  padding-left: 60px;
  border-bottom: 10px solid;
  border-image-source: url("../images/bottom-border.svg");
  border-image-slice: 100%;
  border-image-width: 10px;
  border-image-outset: 0;
  border-image-repeat: stretch;
}
h1.work-header:before { 
  position: absolute;
  top: 10px;
  content: "";
  width: 37px;
  height: 35px;
  background: url("../images/brief-case.svg") repeat scroll 0% 0% transparent;
  left: 10px;

}
h1.edu-header {
  position: relative;
  padding-left: 60px;
}
h1.edu-header:before {
  position: absolute;
  left: 10px;
  top: 15px;
  content: '';
  width: 48px;
  height: 30px;
  background: url(../images/grad-cap.svg);
}

h2 a {
  text-decoration: none;
  border-bottom: 2px dotted #00b3b8;
}
h2 small {
  font-style: italic;
}

span.skillkey {
  font-weight: bold;
  font-size: 1.3em;
}
span.level {
  font-size: 1.1em;
}

span.normalize {
  font-weight: normal;
  font-size: .9em;
}

span.job-title {
  font-style: italic;
  font-weight: 700;
}

span.work-icon {
  width: 48px;
  display: block;
}










