/*   PHONE TO TABLET  */
@media all and (max-width: 767px) {
  
  nav#nav-toggle { background-color: rgba(255,255,255,0.9); }
  a.menu-icon { margin-right: 10px; }
  .display_text { display:none; }

  /*  HOME PAGE   */
  /*—————————————————*/
  div#home-container {}
  div#home-container div.greeting { padding: 10px; position: relative; top: 25%; }
  div.greeting h1 { font-size: 1.5em; }
  div#home-container h1#thatsme:after {
    top: -50px;
    right: -60px;
  }
  div.contact-footer ul.contact-info { margin-top: 30px; }
  div.contact-footer ul li a span.contact-icon { width: 24px; }
  ul.nav li a { font-size: 2em; }
}
