/*   PHONE TO TABLET  */
@media all and (max-width: 767px) {
  
  nav#nav-toggle { background: none; }
  a.menu-icon { margin-right: 10px; }
  .display_text { display:none; }

  /*  HOME PAGE   */
  /*—————————————————*/
  div#home-container div.greeting { padding: 10px; position: relative; top: 13%; }
  div.greeting h1 { font-size: 1.5em; }
  div#home-container h1#thatsme:after {
    top: -50px;
    right: -60px;
  }
  div.contact-footer ul li a span.contact-icon { width: 24px; }
  ul.nav li a { font-size: 2em; }

  /*  PROJECTS PAGE*/
  /*—————————————————*/
  div.projects { padding: 60px 10px; }
  div.project { width: 100%; position: relative; margin: 20px auto; }
  div.project p { font-size: 0.8em; }
  div.project ul { list-style: none; margin: 0; padding: 0; }
  div.project ul li { 
    display: inline-block;
    padding: 5px 10px 8px 10px;
    background-color: #00b3b7;
    border-radius: 4px;
    color: white;
    margin: 5px;
    font-size: .7em;
  }
  div.project h1 {
    position: absolute;
    left: -10px;
    padding: 10px 10px 12px 20px;
    background: rgba(0,179,189,0.7);
    top: 70px;
    color: white;
    font-size: 1.7em;
    font-weight: 400;
    text-shadow: 0 0 2px #666;
  }
  
}
